{% extends 'base.html' %}
{% load static %}
{% block title %}Chatroom - {{ chatrooms.name }}{% endblock %}
{% block script %}
<script>
    const roomName = "{{ chatroom.id }}";
    const userId = "{{ request.user.id }}";
    const userName = "{{ request.user.username }}";
</script>
<script src="{% static 'chat/chatroom.js' %}"></script>
{% endblock %}

{% block content %}
    <h1>Chatroom {{ chatroom.name }}</h1>

    <div class="d-flex">
        <div>
            <div id="messages">

            </div>

            <input id="message">
            <button id="send">Send</button>
        </div>

        <div>
            <h2>Users</h2>
            <ul id="users">
            </ul>
        </div>
    </div>
{% endblock %}
