{% extends 'base.html' %}
{% load static %}
{% block title %}Chatroom - {{ chatrooms.name }}{% endblock %}
{% block script %}
<script>
    const roomName = "{{ chatroom.id }}";
    const userId = "{{ request.user.id }}";
    const userName = "{{ request.user.username }}";
</script>
<script src="{% static 'chat/chatroom.js' %}"></script>
{% endblock %}

{% block content %}
    <h1>Chatroom {{ chatroom.name }}</h1>

    <div id="messages">

    </div>

    <input id="message">
    <button id="send">Send</button>

{% endblock %}
