<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}d07 - Title{% endblock %}</title>
    {% load static %}
    <style>
        {% block css %}{% endblock %}
        * { font-family: sans-serif; }
        .inline { display:inline; }
    </style>
</head>
<body>

<nav>
    <a href="{% url 'home' %}">Home</a>
    <a href="{% url 'articles' %}">Last Articles</a>

    {% if user.is_authenticated %}
        <a href="{% url 'favourites' %}">Favourites</a>
        <a href="{% url 'publications' %}">Publications</a>

        <span>Logged as {{ user.username }}</span>

        <form method="post" action="{% url 'logout' %}" class="inline">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    {% else %}
        <a href="{% url 'register' %}">Register</a>

        <form method="post" action="{% url 'login' %}" class="inline">
            {% csrf_token %}
            {{ login_form.username }}
            {{ login_form.password }}
            <button type="submit">Login</button>
        </form>
    {% endif %}
</nav>

{% block content %} {% endblock %}

</body>
</html>