{% extends "table.html" %}
{% block title %}Article list{% endblock %}

{% block table %}
<thead>
<tr>
    <th>Title</th>
    <th>Author</th>
    <th>Created</th>
    <th>Synopsis</th>
    <th>Published since</th>
    <th>Detail</th>
</tr>
</thead>

<tbody>
{% for article in articles %}
<tr>
    <td>{{ article.title }}</td>
    <td>{{ article.author.username }}</td>
    <td>{{ article.created|date:"H:i d M Y" }}</td>
    <td>{{ article.synopsis|truncatechars:20 }}</td>
    <td>{{ article.created|timesince }} ago</td>
    <td>
        <a href="{% url 'article-detail' article.id %}">See</a>
    </td>
</tr>
{% endfor %}
</tbody>
{% endblock %}
