{% extends "base.html" %}
{% load i18n %}
{% load humanize %}
{% block title %}{% trans "Article list" %}{% endblock %}
{% block articles_active %}active{% endblock %}

{% block content %}
<table class="table">
    <thead>
    <tr>
        <th>{% trans "Title" %}</th>
        <th>{% trans "Synopsis" %}</th>
        <th>{% trans "Writer" %}</th>
        <th>{% trans "Created" %}</th>
        <th>{% trans "When" %}</th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    {% for article in articles %}
    <tr>
        <td>{{ article.title }}</td>
        <td>{{ article.synopsis|truncatechars:20 }}</td>
        <td>{{ article.author.username }}</td>
        <td>{{ article.created|date:"M. j, Y, P" }}</td>
        <td>{{ article.created|naturaltime }}</td>
        <td>
            <a href="{% url 'article-detail' article.id %}" class="btn btn-info">{% trans "Read" %}</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
