{% extends "table.html" %}
{% block title %}My publications{% endblock %}

{% block table %}
<thead>
<tr>
    <th>Title</th>
    <th>Synopsis</th>
    <th>Date</th>
    <th>Detail</th>
</tr>
</thead>
<tbody>
{% for article in articles %}
<tr>
    <td>{{ article.title }}</td>
    <td>{{ article.synopsis }}</td>
    <td>{{ article.created }}</td>
    <td>
        <a href="{% url 'article-detail' article.id %}">See</a>
    </td>
</tr>
{% endfor %}
</tbody>
{% endblock %}

{% block extra_content %}
<a href="{% url 'publish' %}">Publish an article</a>
{% endblock %}
