{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "My publications" %}{% endblock %}
{% block publications_active %}active{% endblock %}

{% block content %}
<table class="table">
    <thead>
        <tr>
            <th>{% trans "Title" %}</th>
            <th>{% trans "Synopsis" %}</th>
            <th>{% trans "Created" %}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for article in articles %}
            <tr>
                <td>{{ article.title }}</td>
                <td>{{ article.synopsis }}</td>
                <td>{{ article.created|date:"M. j, Y, P" }}</td>
                <td>
                    <a href="{% url 'article-detail' article.id %}" class="btn btn-info">{% trans "Read" %}</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'publish' %}" class="btn btn-primary">{% trans "Publish an article" %}</a>
{% endblock %}
