<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ex00: Markdown Cheatsheet.</title>
</head>
<body>

<h1>Markdown Syntax Reference</h1>

<h2>Headings</h2>
<pre><code># H1
## H2
### H3
#### H4
##### H5
###### H6
</code></pre>

<h2>Paragraphs</h2>
<pre><code>This is a paragraph.

This is another paragraph.
</code></pre>

<h2>Emphasis</h2>
<pre><code>*italic*
**bold**
***bold italic***
~~strikethrough~~
</code></pre>

<h2>Lists</h2>
<h3>Unordered</h3>
<pre><code>- Item
- Item
  - Nested
</code></pre>

<h3>Ordered</h3>
<pre><code>1. First
2. Second
3. Third
</code></pre>

<h3>Task Lists</h3>
<pre><code>- [x] Done
- [ ] Todo
</code></pre>

<h2>Links</h2>
<pre><code>[42](https://42.fr)
</code></pre>

<h2>Images</h2>
<pre><code>![Alt text](image.png)
</code></pre>

<h2>Code</h2>
<h3>Inline</h3>
<pre><code>`inline code`
</code></pre>

<h3>Block</h3>
<pre><code>```
code block
```
</code></pre>

<h3>With Language</h3>
<pre><code>```python
print("Hello")
```
</code></pre>

<h2>Blockquotes</h2>
<pre><code>> Quote
>> Nested quote
</code></pre>

<h2>Horizontal Rule</h2>
<pre><code>---
</code></pre>

<h2>Tables</h2>
<pre><code>| Name | Age |
| ---- | --- |
| Alex | 30  |
</code></pre>

<h2>Escaping</h2>
<pre><code>\*not italic\*
</code></pre>


<h2>Footnotes</h2>
<pre><code>Text[^1]

[^1]: Footnote text
</code></pre>

<h2>Emoji</h2>
<pre><code>:smile: :rocket:
</code></pre>

<h2>Comments</h2>
<pre><code>&lt;!-- comment -->
</code></pre>

</body>
</html>