{% extends 'base.html' %}
{% load static %}
{% block title %}Account{% endblock %}
{% block script %}
<script src="{% static 'account.js' %}"></script>
{% endblock %}

{% block content %}
<div id="login-block">
    <h2>Login</h2>
    <form id="login-form" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div id="login-errors" style="color:red;"></div>
        <button type="submit">Login</button>
    </form>
</div>

<div id="logged-block">
    <h2>Logged as <span id="logged-username">{{ user.username }}</span></h2>
    <button id="logout-btn">Logout</button>
</div>
{% endblock %}
